<h2 class="screen-align">Createtypes</h2>
<div id="template-ik9k" class="gjs-row">
    <div id="template-ifkh" class="gjs-cell">
        <label id="template-ilp4" class="label ">
            <div id="template-iwjdf" class="">Name</div>
        </label>
        <input id="template-iq03" [(ngModel)]="types.name" [ngModelOptions]="{standalone: true}"
        ngDefaultControlclass="input form-control " />
        <button id="template-ic2kg" (click)="GpCreate()" class="button btn btn-primary ">
            <div id="template-i6sa4" class="">Create</div>
        </button>
    </div>
    <div id="template-ig09" class="gjs-cell">
        <label id="template-ikl7" class="label ">
            <div id="template-idc6l" class="">Description</div>
        </label>
        <input id="template-isj6" [(ngModel)]="types.description" [ngModelOptions]="{standalone: true}"
        ngDefaultControlclass="input form-control " />
    </div>
</div>