<h2 class="screen-align">Createseverity</h2>
<div id="template-i5lb" class="gjs-row">
    <div id="template-ibcr" class="gjs-cell">
        <label id="template-i173" class="label ">
            <div id="template-im25a" class="">Name</div>
        </label>
        <input id="template-iufg" [(ngModel)]="severity.name" [ngModelOptions]="{standalone: true}"
        ngDefaultControlclass="input form-control " />
        <button id="template-i5vfy" (click)="GpCreate()" class="button btn btn-primary ">
            <div id="template-iqwxf" class="">Create</div>
        </button>
    </div>
    <div id="template-i8cq" class="gjs-cell">
        <label id="template-i5jv" class="label ">
            <div id="template-ixmqr" class="">Description</div>
        </label>
        <input id="template-iwsu" [(ngModel)]="severity.description" [ngModelOptions]="{standalone: true}"
        ngDefaultControlclass="input form-control " />
    </div>
</div>